[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pylint = "*"
mypy = "*"

[packages]
sqlalchemy = "*"
requests = "*"
parsel = "*"
arghandler = "*"

[requires]
python_version = "3.7"
